@font-face {
	font-family: 'MuseoSans-500';
	src: url('webfonts/26074C_0_0.eot');
	src: url('webfonts/26074C_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/26074C_0_0.woff') format('woff'),url('webfonts/26074C_0_0.ttf') format('truetype');
	}
 
  
@font-face {
	font-family: 'MuseoSans-500Italic';
	src: url('webfonts/26074C_1_0.eot');
	src: url('webfonts/26074C_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/26074C_1_0.woff') format('woff'),url('webfonts/26074C_1_0.ttf') format('truetype');
	}


body {
	padding: 0;
	margin: 0;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 0.75em;
	background-image: url(images/bg_slice.jpg);
	background-repeat: repeat-x;
}

a:link, a:active {
	color: #0000ff;
}

a:visited {
	color: #53A2F4;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	max-width: 960px;
	}


/* This section is for the header */

#topbar {
	margin: 0;
	height: 30px;
	width: 100%;
	}
	
.logout {
	font-size: 0.85em;
	color: #fff;
	font-weight: bold;
	float: right;
	margin-right: 3%;
	margin-top: 7px;
	}
	
.logout a {
	color: #fff;

	}
	
#header {
	margin: 0;
	padding: 0;
	height: 85px;
}

.title {
	color: #fff;
	font-size: 2.6em;
	font-weight: bold;
	padding: 24px;
	display: block;
	}
	
img.logo {
	margin: 15px;
	float: left;
	}

#menubar {
	list-style-type: none;
	padding-right: 3%;
	margin-top: 45px;
	height: 25px;
	float: right;
	}

#menubar a {
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
}

#menubar a:hover {
	background-color: #3f7bba;
}


#menubar li {
	display: inline;
	background-color: #7099c5;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: auto;
	padding: 5px 10px;
}

#content {
	padding-top: 60px;
	padding-left: 20px;
	}

#content ul{
	list-style-type: none;
	}
	
#content li{
	padding-top: 10px;
	}
	

h1 {
	margin: 15px;
	font-size:2em;
	color:#000000;
	line-height:39px;
	letter-spacing:-1px;
	}
	
h2 {
	margin: 8px;
	font-size:1.2em;
	color:#000000;
	font-weight: bold;
	}

h3 {
	margin: 5px;
	padding-top: 3px;
	font-size:1em;
	color:#000000;
	font-weight: bold;
	border-bottom: 1px dotted #369;
	display: block;
	}
	
hr {
	width: 90%
	border; 0;
	color: #369;
	margin-top: 8px;
	}
	
ul.project {
	list-style-type: none;
	}
	
p {
	margin: 8px;
	}

