body {
	padding: 0;
	margin: 0;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 0.75em;
	background-image: url(images/bg_slice.jpg);
	background-repeat: repeat-x;
}

a:link, a:active {
	color: #0000ff;
}

a:visited {
	color: #53A2F4;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	max-width: 960px;
	}


/* This section is for the header */

#topbar {
	margin: 0;
	height: 30px;
	width: 100%;
	}
	
.logout {
	font-size: 0.85em;
	color: #fff;
	font-weight: bold;
	float: right;
	margin-right: 3%;
	margin-top: 7px;
	}
	
.logout a {
	color: #fff;

	}
	
#header {
	margin: 0;
	padding: 0;
	height: 85px;
}

.title {
	color: #fff;
	font-size: 2.6em;
	font-weight: bold;
	padding: 24px;
	display: block;
	}
	
img.logo {
	margin: 15px;
	float: left;
	}

#menubar {
	list-style-type: none;
	padding-right: 3%;
	margin-top: 45px;
	height: 25px;
	float: right;
	}

#menubar a {
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
}

#menubar a:hover {
	background-color: #3f7bba;
}


#menubar li {
	display: inline;
	background-color: #7099c5;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: auto;
	padding: 5px 10px;
}

#content {
	padding-top: 60px;
	padding-left: 20px;
	}

#content ul{
	list-style-type: none;
	}
	
#content li{
	padding-top: 10px;
	}
	

h1 {
	margin: 15px;
	font-size:2em;
	color:#000000;
	line-height:39px;
	letter-spacing:-1px;
	}
	
h2 {
	margin: 8px;
	font-size:1.2em;
	color:#000000;
	font-weight: bold;
	}

h3 {
	margin: 5px;
	padding-top: 3px;
	font-size:1em;
	color:#000000;
	font-weight: bold;
	border-bottom: 1px dotted #369;
	display: block;
	}
	
hr {
	width: 90%
	border; 0;
	color: #369;
	margin-top: 8px;
	}
	
ul.project {
	list-style-type: none;
	}
	
p {
	margin: 8px;
	}

/* This section is only for Profile page */	
#profile {
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f2f2f2) );
    background: -moz-linear-gradient(-90deg, #fff, #f2f2f2);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fff', endColorstr='#f2f2f2');
	border: 1px solid #369;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	}
	
#profileSide {
	width: 25%;
	float: left;
	text-align: center;
	}

/* End of profile section */

/* This section is only for Dashboard pages */

#project {
	display: block;
	background-color: #f2f2f2;
	padding: 5px;
	font-size: .95em;
	border: 1px solid #ccc;

	}
	
#project ul{
	list-style-type: none;
	margin: 2px;
	padding: 2px;
	}
	
#project li {
	display: inline;
	padding: 2px;
	margin: 2px;
	}
	
#project a {
	color: #fff;
	text-decoration: none;
}


ul.menu {
	float: right;
	}
	
li.menu {
	border: 1px solid #369;
	background-color: #7099c5;
	color: #fff;
	font-weight: bold;
	text-align: center;
	}

h2.dashboardTitle {
	margin: 0;
	padding: 3px 6px;
	font-size:1.2em;
	color:#000000;
	font-weight: bold;
	display: block;
	background-color: #ccc;
	}
	
.manage a{
	margin: 2px 8px;
	float: right;
	}

#modules {
	display: block;
	padding: 5px;
	margin-top: 15px;
	border-top: 1px solid #ccc;

	}



#report {
	margin: 5px 5px 15px 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f2f2f2) );
    background: -moz-linear-gradient(-90deg, #fff, #f2f2f2);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fff', endColorstr='#f2f2f2');
	border: 1px solid #369;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	}
	
#task {
	margin: 5px 5px 15px 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f2f2f2) );
    background: -moz-linear-gradient(-90deg, #fff, #f2f2f2);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fff', endColorstr='#f2f2f2');
	border: 1px solid #369;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	}
	
.task {
	margin: 5px 2px 2px 5px;
	padding: 5px;
	border: 1px solid #999;
	display: block;
	}
	
#setting {
	margin: 1px 2px;
	float: right;
	background: -webkit-gradient(linear, left top, left bottom, from(#7099c5), to(#77bedb) );
    background: -moz-linear-gradient(-90deg, #7099c5, #77bedb);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7099c5', endColorstr='#77bedb');
	border: 1px solid #369;

	}

#setting a:link, a:active, a:visited {
	margin: 3px;
	color: #000;
	text-decoration: none;
	display: block;
	float: right;
	}

.clear { clear: both;}

#resource {
	margin: 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f2f2f2) );
    background: -moz-linear-gradient(-90deg, #fff, #f2f2f2);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fff', endColorstr='#f2f2f2');
	border: 1px solid #369;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	}

.show {
	margin: 2px 20px;
	float: left;
	}
	
#rss {
	margin: 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f2f2f2) );
    background: -moz-linear-gradient(-90deg, #fff, #f2f2f2);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fff', endColorstr='#f2f2f2');
	border: 1px solid #369;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	}

#search {
	margin: 5px;
	padding: 2px;
	float: right;
	}
	
#select {
	margin: 5px;
	padding: 2px;
	float: left;
	}
	
#leftColumn {
	width: 48%;
	margin-top: 15px;
	float: left;
	}
	
#rightColumn {
	width: 48%;
	margin-top: 15px;
	float: right;
	}
	
.hidden { display: none; }
 .unhidden { display: block; }
 

/* End of code for Dashboard pages */